:root {
    --base: #ffc600;;
    --spacing: 20px;
    --blur: 10px;
}

body {
    text-align: center;
}

img {
    width: 60vw;
    padding: var(--spacing);
    background: var(--base);
    filter: blur(var(--blur));
}

.hl {
    color: var(--base);
}

.controls {
    margin-bottom: 20px;
}