body {
    background-color: burlywood;
    display: flex;
    justify-content: center;
    align-items: center;
}

.clock {
    width: 300px;
    height: 300px;
    background-color: tomato;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.clock-face {
    width: 250px;
    height: 250px;
    background-color: burlywood;
    border-radius: 100%;
}

.hand {
    width: 45%;
    height: 2px;
    position: relative;
    top: 50%;
    left: 5%;
    background-color: black;
    transform-origin: 100%; //기본값은 50%;
    transition: all 0.5s;
}

.hour-hand {
    width: 35%;
    left: 15%;
    background-color: red;
    transform: rotate(90deg);
}

.min-hand {
    width: 40%;
    left: 10%;
    background-color: blue;
    transform: rotate(90deg);
}

.sec-hand {
    transform: rotate(90deg);
}